[package]
name = "redb"
description = "Rust Embedded DataBase"
homepage = "https://www.redb.org"
repository = "https://github.com/cberner/redb"
readme = "README.md"
license = "MIT OR Apache-2.0"
version = "0.9.0"
edition = "2021"
rust-version = "1.65"
authors = ["Christopher Berner <christopherberner@gmail.com>"]
exclude = ["fuzz/"]

[lib]
crate-type = ["cdylib", "rlib"]

[build-dependencies]
pyo3-build-config = "0.17.1"

[dependencies]
libc = "0.2.104"
log = {version = "0.4.17", optional = true }
pyo3 = {version = "0.17.1", features=["extension-module", "abi3-py37"], optional = true }

[dev-dependencies]
fastrand = "1.8.0"
rand = "0.8"
lmdb-rkv = "0.14.0"
sanakirja = "1.2.16"
tempfile = "3.2.0"
sled = "0.34.6"
rocksdb = "0.19.0"
libc = "0.2.99"
comfy-table = "6.1.0"

[target.'cfg(target_os = "linux")'.dev-dependencies]
io-uring = "0.5.1"

[features]
python = ["pyo3"]
# Enables log messages
logging = ["log"]

[profile.bench]
debug = true

[[bench]]
name = "lmdb_benchmark"
harness = false

[[bench]]
name = "large_values_benchmark"
harness = false

[[bench]]
name = "int_benchmark"
harness = false

[[bench]]
name = "syscall_benchmark"
harness = false

[[bench]]
name = "mmap_page_size_benchmark"
harness = false

[[bench]]
name = "open_benchmark"
harness = false

[package.metadata.maturin]
requires-python = ">= 3.7"
classifier = ["Development Status :: 4 - Beta",
    "License :: OSI Approved :: MIT License",
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Rust"]
