[package]
name = "redb"
description = "Rust Embedded DataBase"
homepage = "https://www.redb.org"
repository = "https://github.com/cberner/redb"
readme = "README.md"
license = "MIT OR Apache-2.0"
version = "0.17.0"
edition = "2021"
rust-version = "1.65"
authors = ["Christopher Berner <christopherberner@gmail.com>"]
exclude = ["fuzz/"]

[lib]
crate-type = ["cdylib", "rlib"]

[build-dependencies]
pyo3-build-config = "0.18.0"

[dependencies]
libc = "0.2.104"
log = {version = "0.4.17", optional = true }
pyo3 = {version = "0.18.0", features=["extension-module", "abi3-py37"], optional = true }

[dev-dependencies]
ctrlc = "3.2.3"
fastrand = "1.9.0"
rand = "0.8"
lmdb-rkv = "0.14.0"
sanakirja = "1.3.3"
tempfile = "3.5.0"
sled = "0.34.7"
rocksdb = "0.21.0"
libc = "0.2.99"
comfy-table = "6.1.0"

[target.'cfg(target_os = "linux")'.dev-dependencies]
io-uring = "0.5.1"

[features]
python = ["pyo3"]
# Enables log messages
logging = ["log"]
# Enable cache hit metrics
cache_metrics = []
# Whether to enable experimental wasi support (requires nightly and has no file locking!)
wasi = []

[profile.bench]
debug = true

[[bench]]
name = "atomics_benchmark"
harness = false

[[bench]]
name = "multithreaded_insert_benchmark"
harness = false

[[bench]]
name = "userspace_cache_benchmark"
harness = false

[[bench]]
name = "lmdb_benchmark"
harness = false

[[bench]]
name = "large_values_benchmark"
harness = false

[[bench]]
name = "int_benchmark"
harness = false

[[bench]]
name = "syscall_benchmark"
harness = false
