name: CI

on:
  pull_request:

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-20.04", "macos-latest"]

    steps:
      - uses: actions/checkout@v2

      - name: Install packages
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          sudo apt update
          sudo apt install -y python3 python3-pip python3-dev python3-venv
      - name: Install packages
        if: startsWith(matrix.os, 'macos')
        run: |
          brew install python3

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy

      - name: Install cargo-deny
        run: cargo install --force --version 0.9.1 cargo-deny --locked

      - name: Run tests
        run: make build test

      - name: Run CPython wrapper tests
        run: |
          python3 -m venv venv
          source venv/bin/activate
          pip3 install --upgrade pip
          pip3 install maturin
          make test_py
