name: CI

on:
  pull_request:
  push: # required for actions/cache to work
    branches:
      - master

jobs:
  ci:
    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest", "ubuntu-24.04-arm"]

    runs-on: ${{ matrix.os }}

    env:
      RUSTFLAGS: --deny warnings

    steps:
      - uses: actions/checkout@v5
      - name: Cache
        id: rust-cache
        uses: actions/cache@v4
        with:
            path: |
                ~/.cargo/bin/
                ~/.cargo/registry/index/
                ~/.cargo/registry/cache/
                ~/.cargo/git/db/
                target/
                fuzz/target/
            key: ${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('**/Cargo.toml', '.github/workflows/*.yml', 'rust-toolchain') }}

      - name: Check for forbidden words
        if: runner.os != 'Windows'
        run: "! grep --include='*.rs' -RE 'to_be_bytes|from_be_bytes|dbg!' ."

      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install Rust
        run: |
            rustup component add rustfmt
            rustup component add clippy

      - name: OSX x86 rust
        if: startsWith(matrix.os, 'macos')
        run: |
          # For some reason this is required to run the fuzzer on OSX
          rustup target add x86_64-apple-darwin

      - name: Setup wasmtime
        uses: bytecodealliance/actions/wasmtime/setup@v1
        with:
            version: "36.0.2"

      - name: Install cargo-deny
        if: steps.rust-cache.outputs.cache-hit != 'true'
        run: cargo install --force --version 0.18.4 cargo-deny --locked

      - name: Install cargo-fuzz
        if: steps.rust-cache.outputs.cache-hit != 'true'
        run: cargo install --force --version 0.13.1 cargo-fuzz --locked

      - name: Install just
        if: steps.rust-cache.outputs.cache-hit != 'true'
        run: cargo install --force --version 1.42.4 just --locked

      - name: Compile (default features)
        run: cargo check --all --all-targets

      - name: Compile (all features)
        run: cargo check --all --all-targets --all-features

      - name: Compile (no features)
        run: cargo check --all --all-targets --no-default-features

      - name: Fuzzer
        if: startsWith(matrix.os, 'ubuntu') || startsWith(matrix.os, 'macos')
        run: just fuzz_ci

      - name: Run tests
        run: just test_all

      - name: Clippy
        run: cargo clippy --all --all-targets -- -Dwarnings

      - name: Format
        run: cargo fmt --all -- --check

      - name: Run CPython wrapper tests
        if: runner.os != 'Windows'
        run: |
          python3 -m venv venv
          source venv/bin/activate
          pip3 install --upgrade pip
          pip3 install maturin
          just test_py

      - name: Run CPython wrapper tests
        if: runner.os == 'Windows'
        run: |
          python3 -m venv venv
          venv\Scripts\activate
          pip3 install --upgrade pip
          pip3 install maturin
          just test_py

      - name: Run WASI tests
        if: runner.os != 'Windows'
        run: |
          RUSTFLAGS="" just test_wasi
